@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce One";
  src: url("../fonts/OpenSauceOne-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Open Sauce Sans";
  src: url("../fonts/OpenSauceSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

/*REGLAS*/

.navbar {
  font-family: "Open Sauce One", sans-serif;
  font-weight: 700;
}

.fs-small {
  font-size: 0.75rem;
}

.fs-normal {
  font-size: 1.25rem;
}

.placeholder-color::placeholder {
  color: white;
  font-family: "Open Sauce One", sans-serif;
  font-weight: bold;
  font-size: 1.3rem;
}

.w-max-content {
  width: max-content;
}

.fs-x-small {
  width: 120px;
  height: 160px;
  object-fit: cover;
  object-position: center;
}

.overflow-x-auto {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-width: none; 
}

.w-fixed {
  width: 150px;
}

.wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  max-width: 100%;
}

.wrapper > div {
  min-width: 8rem;
  width: 8rem;
  height: 10.5rem;
}

.placeholder-color::placeholder {
  color: #aaa;
}

.pic-size {
  width: 7.5rem;
  height: 10rem;
  object-fit: cover;
  object-position: center;
  margin: 0;
}

.navbar input[type="search"]::placeholder {
  color: #e8e8e8;
  font-weight: bold;
}

.navbar input[type="search"]:focus {
  outline: none;
  background-color: #262626;
  box-shadow: none;
}

.bg-launcher {
  background-color: #fcaf17;
}

.icon-size {
  width: 2rem;
  height: 2rem;
}

.svg-size {
  width: 1rem;
  height: 1rem;
}

.bi-search {
  font-size: 1.3rem;
  opacity: 0.8;
}

section::-webkit-scrollbar {
 display: none; 
 background-color: transparent;
}

.logo-size {
  width: 2rem;
}

.navbar input[type="search"] {
  height: 4.5rem;
  background-color: #1a1a1a;
  color: #fff;
  font-family: "Open Sauce One", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  border: none;
  border-radius: 6px;
  padding-left: 2.5rem;
  margin: 0;
}


/* col-sm-6 → desde 576px*/
@media (min-width: 576px) {
  .navbar input[type="search"] {
  width: 50%;
}

}

/* col-md-4 → desde 768px*/
@media (min-width: 768px) {
  .navbar input[type="search"] {
  width: 70%;
}

.special-size-button {
  display: flex;
  justify-content: center;
}
}

@media(min-width: 992px) {


  .logo-size {
    margin-left: 1rem;
  }

  .navbar-nav {
    display: flex;
    flex-direction: row; 
    gap: 2rem; 
  }

  .navbar {
    height: 5rem;
  }
  .arrow-svg-size {
    width: 1.3rem;
    margin-left: 0.25rem;
  }

  .navbar-nav > li {
    display: flex;
    align-items: center;
    height: auto;
    padding: 0; 
  }


  .navbar-nav > li > a {
    display: block;
    padding: 0.5rem 0; 
    color: white; 
    font-weight: 500;
    font-size: 0.90rem;
    letter-spacing: -1px;
  }

  .special-size-button {
    justify-content: flex-start;
  }

  .fs-custom {
    font-size: 0.9rem;
    padding: 0;
    width: 10.5rem;
    height: 2.5rem;
    margin: 0;
    font-weight: bolder;
  }
}